USE master
GO
if exists (select * from sysdatabases where name='FLIGHTS')
	DROP DATABASE FLIGHTS
GO

CREATE DATABASE FLIGHTS
GO
USE FLIGHTS
GO

/* CREATE TABLES */

CREATE TABLE AIRLINES(
    CODE CHAR(2) NOT NULL,
    NAME VARCHAR(20) UNIQUE NOT NULL,
    COUNTRY VARCHAR(50) NOT NULL,
    PRIMARY KEY (CODE)
);

CREATE TABLE AIRPORTS(
    CODE CHAR(3) NOT NULL,
    NAME VARCHAR(50) UNIQUE NOT NULL,
    COUNTRY VARCHAR(50) NOT NULL,
    CITY VARCHAR(50) NOT NULL,
    PRIMARY KEY (CODE)
);

CREATE TABLE AIRPLANES(
    CODE CHAR(3) NOT NULL,
    TYPE VARCHAR(30) NOT NULL,
    SEATS INT NOT NULL,
    YEAR INT NOT NULL,
    PRIMARY KEY (CODE)
 );

CREATE TABLE FLIGHTS(
    FNUMBER CHAR(10) NOT NULL PRIMARY KEY,
    AIRLINE_OPERATOR CHAR(2) NOT NULL REFERENCES AIRLINES(CODE),
    DEP_AIRPORT CHAR(3) NOT NULL REFERENCES AIRPORTS(CODE),
    ARR_AIRPORT CHAR(3) NOT NULL REFERENCES AIRPORTS(CODE),
    FLIGHT_TIME TIME NOT NULL,
    FLIGHT_DURATION INT NOT NULL,
    AIRPLANE CHAR(3) NOT NULL REFERENCES AIRPLANES(CODE)
 );

CREATE TABLE CUSTOMERS(
    ID INT NOT NULL PRIMARY KEY,
    FNAME VARCHAR(50) NOT NULL,
    LNAME VARCHAR(50) NOT NULL,
    EMAIL VARCHAR(50)
);

CREATE TABLE AGENCIES(
    NAME VARCHAR(100) NOT NULL PRIMARY KEY,
    COUNTRY VARCHAR(50) NOT NULL,
    CITY VARCHAR(50) NOT NULL,
    PHONE VARCHAR(50)
 );

CREATE TABLE BOOKINGS(
    CODE CHAR(6) NOT NULL PRIMARY KEY,
    AGENCY VARCHAR(100) NOT NULL REFERENCES AGENCIES(NAME),
    AIRLINE_CODE CHAR(2) NOT NULL REFERENCES AIRLINES(CODE),
    FLIGHT_NUMBER CHAR(10) NOT NULL REFERENCES FLIGHTS(FNUMBER),
    CUSTOMER_ID INT NOT NULL REFERENCES CUSTOMERS(ID),
    BOOKING_DATE DATE NOT NULL,
    FLIGHT_DATE DATE NOT NULL,
    PRICE DECIMAL (9,2) NOT NULL,
    STATUS INT NOT NULL
);

/* INSERT DATA */

INSERT INTO AIRLINES
  VALUES ('AZ', 'Alitalia', 'Italy');

INSERT INTO AIRLINES
  VALUES ('BA', 'British Airways', 'United Kingdom');

INSERT INTO AIRLINES
  VALUES ('LH', 'Lufthansa', 'Germany');












INSERT INTO AIRPORTS
  VALUES ('SVO', 'Sheremetyevo', 'Russian Federation', 'Moscow');

INSERT INTO AIRPORTS
  VALUES ('DME', 'Domodedovo', 'Russian Federation', 'Moscow');

INSERT INTO AIRPORTS
  VALUES ('SOF', 'Sofia International', 'Bulgaria', 'Sofia');



















INSERT INTO AIRPLANES
  VALUES ('319', 'Airbus A319', 150, 1993);

INSERT INTO AIRPLANES
  VALUES ('320', 'Airbus A320', 280, 1984);

INSERT INTO AIRPLANES
  VALUES ('321', 'Airbus A321', 150, 1989);






INSERT INTO FLIGHTS
  VALUES ('FB1363', 'SU', 'SOF', 'SVO', '12:45', 100, '738');

INSERT INTO FLIGHTS
  VALUES ('FB1364', 'SU', 'SVO', 'SOF', '10:00', 120, '321');

INSERT INTO FLIGHTS
  VALUES ('SU2060', 'SU', 'SVO', 'SOF', '11:10', 110, '738');
























INSERT INTO CUSTOMERS (ID, FNAME, LNAME, EMAIL)
  VALUES (1, 'Petar', 'Milenov', 'petter@mail.com');

INSERT INTO CUSTOMERS (ID, FNAME, LNAME, EMAIL)
  VALUES (2, 'Dimitar', 'Petrov', 'petrov@mail.com');

INSERT INTO CUSTOMERS (ID, FNAME, LNAME, EMAIL)
  VALUES (3, 'Ivan', 'Ivanov', 'ivanov@mail.com');





INSERT INTO AGENCIES
  VALUES ('Travel One', 'Bulgaria', 'Sofia', '0783482233');

INSERT INTO AGENCIES
  VALUES ('Travel Two', 'Bulgaria', 'Plovdiv', '02882234');

INSERT INTO AGENCIES
  VALUES ('Travel Tour', 'Bulgaria', 'Sofia', NULL);




INSERT INTO BOOKINGS
  VALUES ('YN298P', 'Travel One', 'FB', 'FB1363', 1, '2013-11-18',
    '2013-12-25', 300, 0);

INSERT INTO BOOKINGS
  VALUES ('YA298P', 'Travel Two', 'FB', 'TK1038', 2, '2013-12-18',
    '2013-12-25', 300, 1);

INSERT INTO BOOKINGS
  VALUES ('YB298P', 'Travel Tour', 'FB', 'TK1037', 3, '2014-01-18',
    '2014-02-25', 400, 0);














